@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
}
header{
    padding: 10px;
    background-color:rgb(57, 56, 59);
}
.logo-container{
    display: flex;
    align-items: center;
}
.image-logo{
    width: 80px;
}
.logo-container p{
    color: beige;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 8px;
}
.menu li{
    list-style-type: none;
}
.menu a{
    text-decoration: none;
    color: rgb(175, 176, 176);
}
.menu a:hover{
    color: #fff;
}
.menu .list-last a{
    color: green;
}
/* estilos del home */
.home__page{
    background-image: url('../images/ba1.jpg');
    backface-visibility: visible;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.home__page-info{
    position: absolute;
    color: #fff;
    text-align: right;
    width: 500px;
    right: 10vw;
    top: 40%;
}
.home__page-info p{
    font-weight: 600;
}
.btn-home{
    border: 0;
    padding: 5px;
    color: #fff;
    margin: 2px;
}
.btn-one{
    background-color: transparent;
    border: 2px solid #fff;
    padding: 2px;
}
.btn-two{
    background-color: #0bbe0b;
}
/* estilos de la seccion card */

.section-card{
    padding: 10px;
}
.card__container{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.card__children-container{
    width: 400px;
    border-radius: 5px;
    border: 1px solid grey;
}
.card__children-container img{
    width: 100%;
    border-radius: 4px 4px 0 0;
}
.card__children-container div{
    padding: 25px 20px 0 20px;
    text-align: left;
}
.span-card{
    padding:2px 5px; 
    font-weight:700;
    border-radius: 6px;
}
.span1{
    background-color: orange;
    margin-right: 6px;
}
.span2{
    background-color: rgb(101, 170, 197);
    color:#fff;
}
.span3{
    background-color: gray;
    margin-right: 6px;
    color:#fff;
}
.span4{
    background-color: rgb(202, 6, 6);
    color:#fff;
}
.card__children-container h3{
    margin-top: -15px;
    font-weight: 600;
}
.card__children-container p{
    font-size:14px;
}
.title-section-card{
    text-align: center;
}