@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: beige;
}
header{
    padding: 10px;
    background-color:rgb(57, 56, 59);
}
.logo-container{
    display: flex;
    align-items: center;
}
.image-logo{
    width: 80px;
}
.logo-container p{
    color: beige;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 8px;
}
.menu li{
    list-style-type: none;
}
.menu a{
    text-decoration: none;
    color: rgb(175, 176, 176);
}
.menu a:hover{
    color: #fff;
}
.menu .list-last a{
    color: green;
}
/* estilos del home */
.home__page{
    background-image: url('../images/ba1.jpg');
    backface-visibility: visible;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.home__page-info{
    position: absolute;
    color: #fff;
    text-align: right;
    width: 500px;
    right: 10vw;
    top: 40%;
}
.home__page-info p{
    font-weight: 600;
}
.btn-home{
    border: 0;
    padding: 5px;
    color: #fff;
    margin: 2px;
}
.btn-one{
    background-color: transparent;
    border: 2px solid #fff;
    padding: 2px;
}
.btn-two{
    background-color: #0bbe0b;
}
/* estilos de la seccion card */

.section-card{
    padding: 10px;
}
.card__container{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.card__children-container{
    width: 400px;
    border-radius: 5px;
    border: 1px solid grey;
}
.card__children-container img{
    width: 100%;
    border-radius: 4px 4px 0 0;
}
.card__children-container div{
    padding: 25px 20px 0 20px;
    text-align: left;
}
.span-card{
    padding:2px 5px; 
    font-weight:700;
    border-radius: 6px;
}
.span1{
    background-color: orange;
    margin-right: 6px;
}
.span2{
    background-color: rgb(101, 170, 197);
    color:#fff;
}
.span3{
    background-color: gray;
    margin-right: 6px;
    color:#fff;
}
.span4{
    background-color: rgb(202, 6, 6);
    color:#fff;
}
.card__children-container h3{
    margin-top: -15px;
    font-weight: 600;
}
.card__children-container p{
    font-size:14px;
}
.title-section-card{
    text-align: center;
}
.title-section-card p span{
    border-bottom:2px dotted black ;
}
/* estilos de la tercera seccion de la pagina */
.section__three{
    display: flex;
    margin:30px 0;
}
.section__three-image{
    width: 50vw;
}
.section__three-info{
    width: 50vw;
    background-color: rgb(58, 61, 70);
    color: white;
    margin-left: 1px;
    padding: 20px;
}
.section__three-info button{
    border: 0;
    background-color: transparent;
    color: #fff;
    border-radius: 2px;
    padding: 5px 6px;
    border: 1px solid #fff;
}
.section__three-info p{
    font-size: 14px;
}


.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background: rgb(57,53,115);
    background: linear-gradient(90deg, rgba(57,53,115,1) 0%, rgba(77,83,143,1) 47%, rgba(94,105,171,1) 90%);

}
.footer div{
    width: 100px;
    color: #fff;
}
/* estilos del formulario */
.section-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 700px;
    margin: 15px;
}
.input-children{
    display: flex;
    gap: 20px;
}
.input-children input{
    width: 50%;
}
.button-form{
    border: 0;
    color: white;
    background-color: #78ab63;
    padding: 10px;
    border-radius: 8px;
}
.section-pay{
    padding: 20px;
    text-align: center;
}
.card-pay-container{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.card-pay-children{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
    border: 2px solid rgb(93, 165, 209);
}
.card-altern{
    border-color: rgb(207, 207, 12);
}
.p-document{
    color: grey;
}
.input__name input{
    width: 50%;
}
.form-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
.form-container input{
    height: 40px;
}
.input__name{
    display: flex;
}
.select-input{
    display: flex;
}
.select-input div{
    width: 100%;
    gap: 10px;
}
.select-input input{
    width: 100%;
}
.form-span{
    background-color: #5faed8;
    text-align: left;
    padding:15px;
}
.btn-form{
    display: flex;
    gap: 0 15px;
}
.btn-form input{
    width: 50%;
    border: 0;
    background-color: rgb(159, 227, 58);
    border-radius: 8px;
    color: #fff;
}